# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.egg

# Virtual environments
.venv/
venv/
env/
ENV/

db.sqlite3


# Django
*.log
staticfiles/
media/
local_settings.py

# Migrations cache (keep actual migration files)
*/__pycache__/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Env files and secrets
.env
.env.*
*.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# Render build artifacts
build/
